services:
  board-nginx:
    build:
      context: .
      dockerfile: docker/production/nginx/Dockerfile
    restart: always
    depends_on:
      - board-php-fpm
    volumes:
      - /var/www/board.filkx.com/current:/var/www
      - /var/www/board.filkx.com/shared/storage:/var/www/storage
    ports:
      - '8082:80'
    networks:
      - board

  board-php-fpm:
    build:
      context: .
      dockerfile: docker/production/php-fpm/Dockerfile
    restart: always
    volumes:
      - /var/www/board.filkx.com/current:/var/www
      - /var/www/board.filkx.com/shared/storage:/var/www/storage
      - composer:/root/.composer/cache
    env_file:
      - .env
    user: '1337:1000'
    working_dir: /var/www
    networks:
      - board

  board-queue:
    build:
      context: .
      dockerfile: docker/production/php-fpm/Dockerfile
    command: php artisan queue:work --sleep=3 --tries=3 --max-time=3600
    restart: always
    volumes:
      - /var/www/board.filkx.com/shared/storage:/var/www/storage
    depends_on:
      - board-php-fpm
    networks:
      - board

  board-reverb:
    build:
      context: .
      dockerfile: docker/production/php-fpm/Dockerfile
    command: php artisan reverb:start --port=8083
    restart: always
    volumes:
      - /var/www/board.filkx.com/shared/storage:/var/www/storage
    depends_on:
      - board-php-fpm
    networks:
      - board

  board-mysql:
    image: mysql/mysql-server:8.0
    restart: always
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
    volumes:
      - sail-mysql:/var/lib/mysql
    networks:
      - board
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 10

  board-redis:
    image: redis:alpine
    restart: always
    volumes:
      - sail-redis:/data
    networks:
      - board
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      retries: 3
      timeout: 5s

  board-elasticsearch:
    image: elasticsearch:8.17.3
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    networks:
      - board

networks:
  board:
    driver: bridge

volumes:
  sail-mysql:
  sail-redis:
  composer:
  elasticsearch:
