services:
  app:
    build:
      context: './docker/8.4'
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
    image: 'laravel-app:dev'
    restart: always
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '${APP_PORT:-8080}:80'
      - '8080:8080' # для сокетів
      - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
    environment:
      WWWUSER: '${WWWUSER}'
      XDEBUG_MODE: '${XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${XDEBUG_CONFIG:-client_host=host.docker.internal}'
      APP_ENV: local
      DB_HOST: mysql
      REDIS_HOST: redis
      ELASTICSEARCH_HOSTS: elasticsearch:9200
    volumes:
      - '.:/var/www/html:rw'
    networks:
      - laravel
    depends_on:
      - mysql
      - redis
      - elasticsearch

  queue:
    build:
      context: './docker/8.4'
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
    image: 'laravel-app:dev'
    restart: always
    environment:
      WWWUSER: '${WWWUSER}'
      APP_ENV: local
      DB_HOST: mysql
      REDIS_HOST: redis
    volumes:
      - '.:/var/www/html:rw'
    networks:
      - laravel
    depends_on:
      - mysql
      - redis
    command: php artisan queue:work --sleep=3 --tries=3 --timeout=60

  mysql:
    image: 'mysql:8.0'
    restart: always
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: '%'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'laravel-mysql:/var/lib/mysql'
      - './docker/mysql/initdb.d/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
    networks:
      - laravel
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 10

  redis:
    image: 'redis:alpine'
    restart: always
    ports:
      - '${FORWARD_REDIS_PORT:-6379}:6379'
    volumes:
      - 'laravel-redis:/data'
    networks:
      - laravel
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      retries: 3
      timeout: 5s

  elasticsearch:
    image: 'elasticsearch:8.17.3'
    restart: always
    ports:
      - '9200:9200'
      - '9300:9300'
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elasticsearch:/usr/share/elasticsearch/data
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  laravel-mysql:
    driver: local
  laravel-redis:
    driver: local
  elasticsearch:
    driver: local
