services:
    php-fpm:
        build:
            context: ./docker/php-fpm
        volumes:
            - /var/www/board.filkx.com/current:/var/www
        networks:
            - sail

    nginx:
        build:
            context: ./docker/nginx
        ports:
            - "8082:80"
        volumes:
            - /var/www/board.filkx.com/current:/var/www:ro
        depends_on:
            - php-fpm
        networks:
            - sail

    queue:
        build:
            context: ./docker/php-fpm
        command: php /var/www/artisan queue:work --sleep=3 --tries=3 --max-time=3600
        volumes:
            - /var/www/board.filkx.com/current:/var/www
        depends_on:
            - php-fpm
        networks:
            - sail
        restart: always

    reverb:
        build:
            context: ./docker/php-fpm
        command: php /var/www/artisan reverb:start --port=8083
        volumes:
            - /var/www/board.filkx.com/current:/var/www
        depends_on:
            - php-fpm
        networks:
            - sail
        restart: always

    mysql:
        image: mysql/mysql-server:8.0
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
        volumes:
            - sail-mysql:/var/lib/mysql
        networks:
            - sail
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
            interval: 10s
            timeout: 5s
            retries: 10

    redis:
        image: redis:alpine
        restart: always
        volumes:
            - sail-redis:/data
        networks:
            - sail
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            retries: 3
            timeout: 5s

    elasticsearch:
        image: elasticsearch:8.17.3
        restart: always
        environment:
            - discovery.type=single-node
            - xpack.security.enabled=false
            - ES_JAVA_OPTS=-Xms512m -Xmx512m
        volumes:
            - elasticsearch:/usr/share/elasticsearch/data
        networks:
            - sail

networks:
    sail:
        driver: bridge

volumes:
    sail-mysql:
        driver: local
    sail-redis:
        driver: local
    elasticsearch:
        driver: local
